.speakersContainer {
  width: 100%;
  scroll-behavior: smooth;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselWrapper {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  overflow-x: visible;
}
