.speakerCard {
  background: #fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #006a4e;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 24rem;
  overflow: hidden;
  border-radius: 0.75rem;
  transition: all 0.15s ease-in-out;
  position: relative;
  padding-top: 0;
}

.speakerCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 106, 78, 0.15);
}
